/*LIST FIXES*/

.control-list.no-pagination {
    margin-bottom: 0;
}

table.table.data tbody td,
table.table.data td.list-checkbox {
    vertical-align: middle;
}

.children_list .list-header,
.properties_list .list-header,
.product_properties_list .list-header,
.product_offers_list .list-header,
.offer_properties_list .list-header,
.values_list .list-header {
    padding: 0 0 1px 0;
}

.properties_list .edit_values {
    display: flex;
    gap: 10px;
    align-items: center;
}

.properties_list_link .list-header,
.offers_list_link .list-header{
    padding: 0 10px 1px 10px;
}

.properties_list_link .control-toolbar,
.offers_list_link .control-toolbar{
    margin-top: 15px;
}

.properties_list_link .list-widget-container,
.offers_list_link .list-widget-container{
    margin: 0 10px 10px 10px;
}

.properties_list_link.modal-body,
.offers_list_link.modal-body{
    padding: 5px;
}

.catalog-list .list-widget-container {
    margin: 0 20px;
}


/*COLUMNS*/

.columns-2 {
    columns: 2;
}

.columns-2 * {
    break-inside: avoid;
}

.modal-body .columns-2 .checkbox,
.modal-body .columns-2 .radio {
    margin-bottom: 0;
    padding-bottom: 10px;
}
