<?php

use GromIT\Catalog\Models\Product;

/** @var Product $record */

?>

<div id="active_switcher_<?= $record->id ?>">
    <label class="custom-switch">
        <input
            type="checkbox"
            name="is_active"
            class="switcher"
            <?= $record->is_active ? 'checked' : '' ?>
            data-request="onChangeActive"
            data-request-data="id: <?= $record->id ?>, list: 'products'"
        />
        <span><span>Вкл</span><span>Выкл</span></span>
        <a class="slide-button"></a>
    </label>
</div>
